.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(800px)  ;
  margin-right: calc(var(--mantine-spacing-xl) * 3);
  padding-right: 10px;
  @media (max-width: $mantine-breakpoint-md) {
    max-width: rem(500px);
    margin-right: 0;
    margin: auto;
  }
}

.title {
  font-family: 'MuseoModerno', sans-serif;
  font-size: rem(4vw);
  line-height: 1.2;
  font-weight: 900;
  display: inline;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(5vw);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(10vw);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}
 
.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}