@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}


:root {
  background: rgba(0, 0, 0, 1);

  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;

}

.card {
  height: 210px;
  aspect-ratio: 1 / 1;

  border-radius: 3.5rem;
  background: #fff;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: 
  linear-gradient(45deg,  rgba(76, 159, 56, 1) 25%, transparent 25%), 
  linear-gradient(-45deg,   rgba(252, 195, 11, 1) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%,    rgba(229, 36, 59, 1)  75%),
  linear-gradient(-45deg, transparent 75%, rgba(79, 117, 255, 1) 75%);
     
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}

.cropped-image {
  clip-path: url(#clipPath);
  width: 100%;
  height: 100%;
}

/* .card::after {
  filter: blur(1.0rem);
} */

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/bg.svg");
  background-color: rgba(0, 0, 0,y 1.2);
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
}


.contain {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 40px;
}

.contain .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background:#fff; */
  mix-blend-mode: screen;
}

.input-3d-effect {
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gradient-pattern {
  background: repeating-linear-gradient(90deg, #000, #000 6px, transparent 6px, transparent 12px);
  background-size: 12px;
}

.dashed-line {
  height: 3px; /* Adjust the height as needed */
  background: repeating-linear-gradient(90deg, white, white 20px, transparent 20px, transparent 50px);
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: #000 4px 4px 0 0,#fff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 5px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
.button-Sponsor {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border-radius: 8px;
  box-shadow: #000 6px 6px 0 0,#fff 6px 6px 0 1px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Space Grotesk', Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  overflow: visible;
  text-align: left;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: left;
}

.button-Sponsor:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-Sponsor:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(3px, 3px);
}



